#스마투스 관리자 웹 
#스마투스 관리자 웹 
#스마투스 관리자 웹
spring:
    profiles:
        active: webSchool

    #datasource (mariaDB)
    datasource:
        #운영서버 Database - smartooth_premium
        driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
        db-url: jdbc:log4jdbc:mariadb://smartooth-premium-dev.cdx8q9adtw2b.ap-northeast-2.rds.amazonaws.com/smartooth_premium
        db-username: smartooth
        db-password: smartooth509#
        
    loginUrl: 13.209.156.47:8094

        
    mvc:
        view:
            prefix: /WEB-INF/views/
            suffix: .jsp
        static-path-pattern : /static/**

        
    #메일 발송 부분은 로직은 동일, 메일 발송 HOST, ID, 비밀번호만 변경해주면 됨
    mailsendername: Smartooth KOREA
    mailusername: contact@smartooth.co
    mailpassword: lKX7ucWCMADB
    #mailpassword: tkffla509
  
  
    mybatis:
        configuration:
            map-underscore-to-camel-case: 'true'


    jwt:
        secretKey: tmakxntmzhfldk
        
        
    web:
        resources:
            static-locations : classpath:/static-location/

server:
    ip: 13.209.156.47
    port: 8094

            
#---
#spring:
#    web:
#        resources:
#            add-mappings: 'true'