<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.web.mapper.DiagnosisMapper">





	<!-- 중위 진단 정보 조회  -->
    <select id="selectDiagDept2List" resultType="co.smartooth.web.vo.DiagnosisVO">
        SELECT 
        	DIAG_CD
        	,DIAG_NO
        	,DIAG_NM
		  FROM ST_DIAG_DEPT2
    </select>




	
	<!-- 진단 키워드 DESCRIPT 조회 -->
    <select id="selectDiagDescript" parameterType="String" resultType="String">
        
        SELECT 
        	DIAG_DESCRIPT
		FROM ST_DIAG_DESCRIPT
		WHERE 1=1
		<!-- 치아 형태 -->
		AND TEETH_TYPE = #{teethType}
		AND DESC_CD = #{descCd}
		
    </select>
	
	
	
	
	
	 <!-- 진단 키워드 제목 조회 -->
    <select id="selectDiagTitle" parameterType="String" resultType="String">
        
		SELECT 
			DIAG_TITLE
		FROM ST_DIAG_TITLE
		WHERE 1=1
		<!-- 치아 형태 -->
		AND TEETH_TYPE = #{teethType}
		AND DIAG_CD = #{diagCd}
		  
    </select>
    
    
    
	
	
</mapper>