<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.web.mapper.LogMapper">



    <!-- 회원 : 로그인 완료 후 로그인 LOG를 기록-->
	<insert id="insertUserLoginHistory" parameterType="co.smartooth.web.vo.AuthVO">
		INSERT INTO ST_USER_LOGIN_HISTORY
			(	
				USER_NO
				,USER_ID
				,USER_TYPE
				,LOGIN_DT
				,LOGIN_RESULT_CODE
				,LOGIN_IP
			)
		VALUES
			(
				#{userNo}
				,#{userId}
				,#{userType}
				,SYSDATE()
				,#{loginResult}
				,#{loginIp}
			)
	</insert>
    

    <!-- 회원 접속일 UPDATE -->
    <update id="updateLoginDt" parameterType="co.smartooth.web.vo.AuthVO">
		UPDATE ST_USER
  			 SET  LOGIN_DT = #{loginDt}
	     WHERE  1=1
	     AND USER_ID = #{userId}
    </update>

    

    
</mapper>