<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.web.mapper.UserMapper">
	
	<!-- 계정 등록 -->
	<insert id="insertUserInfo" parameterType="co.smartooth.web.vo.UserVO">
		
		INSERT INTO ST_USER
            (
            	USER_NO
		        ,USER_ID
		        ,USER_PWD
		        ,USER_TYPE
		        ,USER_NAME
		        ,USER_BIRTHDAY
		        ,USER_COUNTRY
		        ,USER_STATE
		        ,USER_ADDRESS
		        ,USER_TEL_NO
		        ,USER_SEX
		        ,USER_RGST_DT
		        ,PUSH_TOKEN
		        ,LOGIN_DT
		        ,USER_DELETE_YN
		        ,USER_DELETE_DT
		        ,LOGIN_CK
		        ,COUNTRY_NM
		        ,STATE_NM
		        ,SIDO_NM
		        ,SIGUNGU_NM
		        ,EUPMYEONDONG_NM
		        ,ADDR_DETAIL
	        )
		VALUES
			(
				NULL
		     	,#{userId}
		        ,#{userPwd}
		        ,#{userType}
		        ,#{userName}
		        ,#{userBirthday}
		        ,#{userCountry}
		        ,NULL
		        ,NULL
		        ,#{userTelNo}
		        ,#{userSex}
		        ,SYSDATE()
		        ,NULL
		        ,NULL
		        ,'N'
		        ,NULL
		        ,0
		        ,#{countryNm}
		        ,#{stateNm}
		        ,#{sidoNm}
		        ,#{sigunguNm}
		        ,#{eupmyeondongNm}
		        ,#{addrDetail}
	        ) 
		
	</insert>





	<!-- 회원 정보 및 상세정보 조회 -->
    <select id="selectUserInfo" parameterType="String" resultType="co.smartooth.web.vo.UserVO">
         
        SELECT SU.USER_NO
					,SU.USER_ID
					,SU.USER_NAME
					,DATE_FORMAT(SU.USER_BIRTHDAY, '%Y-%m-%d')		AS USER_BIRTHDAY
					,DATE_FORMAT(SU.USER_RGST_DT, '%Y-%m-%d')		AS USER_RGST_DT
					,SU.USER_DELETE_YN
					,DATE_FORMAT(SU.USER_DELETE_DT, '%Y-%m-%d')	AS USER_DELETE_DT
					,DATE_FORMAT(SU.LOGIN_DT, '%Y-%m-%d') 				AS LOGIN_DT
					,SU.LOGIN_CK																AS LOGIN_CK
					,SU.USER_TYPE															AS USER_TYPE
					,SSUD.PA_USER_NAME													AS PA_USER_NAME
					,SSUD.PA_USER_TEL_NO												AS PA_USER_TEL_NO
					,SSUD.TEETH_TYPE
					,SSUD.AGRE_YN
		FROM ST_USER SU
		LEFT OUTER JOIN ST_STUDENT_USER_DETAIL SSUD
		ON SU.USER_ID = SSUD.USER_ID
		WHERE 1=1
		<if test="userId != null and userId != '' ">
			AND SU.USER_ID = #{userId}
   		</if>
   		 
    </select>
	
	
	
	
	
	<!-- 피측정자 회원 아이디 조회 - ST_PARENT_USER_DEATAIL -->
	<select id="selectChUserId" parameterType="String" resultType="String">
	
		SELECT CHILD_ID
		FROM ST_PARENT_USER_DETAIL
		WHERE 1=1
		AND USER_ID = #{userId}
		
	</select>
	
	
	
	
	
	<!-- 피측정자 회원 이름 조회 - ST_USER -->
	<select id="selectChUserName" parameterType="String" resultType="String">
	
		SELECT USER_NAME
		FROM ST_USER
		WHERE 1=1
		AND USER_ID = #{userId}
	
	</select>
	
	
	


	<!-- 피측정자 회원 상세 정보 등록 -->
	<insert id="insertStUserDetail" parameterType="String">

		INSERT INTO ST_STUDENT_USER_DETAIL 
			(
				USER_ID
				,SCHOOL_TYPE
				,IS_MEASURING
				,TEACHER_ID
			) 
		VALUES
			(
				#{userId}
				,#{schoolType}
				,'N'
				,#{classCode}
			)
	
	</insert>





	<!-- 피측정자 회원 상세 정보 등록 -->
	<insert id="insertPaUserDetail" parameterType="String">

		INSERT INTO ST_PARENT_USER_DETAIL
			(
				USER_ID
				,CHILD_ID
				,AUTH_EMAIL
				,AUTH_STATUS
				,AUTH_KEY
			)
		VALUES
			(
				#{userId}
				,#{childId}
				,NULL
				,'N'
				,NULL
			)
	
	</insert>
	
	
	
	<!-- 진단 결과지 첫 로그인 시 이메일 인증 후 비밀번호 변경 -->
	<update id="updateUserPwd" parameterType="String">
	
		UPDATE ST_USER
			SET  USER_PWD = #{userPwd}
	    WHERE  1=1
	    AND USER_ID = #{userId}
	
	</update>
	
	
	
	
	
	<!-- 기관 내 피측정자 목록 조회 -->
	<select id="selectDepartUserList" parameterType="String" resultType="hashmap">
		
		SELECT 
			SSUD.TEACHER_ID														AS CLASS_NAME
			,SU.USER_NAME															AS USER_NAME
			,SU.USER_ID																AS USER_ID
			,DATE_FORMAT(STM.MEASURE_DT, '%Y-%m-%d')			AS MEASURE_DT
		FROM ST_TEETH_MEASURE STM
		LEFT OUTER JOIN ST_STUDENT_USER_DETAIL SSUD
		ON STM.USER_ID = SSUD.USER_ID
		LEFT OUTER JOIN ST_USER SU
		ON SSUD.USER_ID = SU.USER_ID
		WHERE 1=1
		AND TEACHER_ID = #{classCode}
		AND DATE_FORMAT(MEASURE_DT, '%Y-%m-%d') = #{measureDt}
		ORDER BY SU.USER_NAME
		    
	</select>
	
	
	
	
	
<!-- 	계정 삭제 -->
<!-- 	<delete id="deleteUserInfo" parameterType="String"> -->
<!-- 		DELETE FROM ST_USER -->
<!-- 		WHERE 1=1 -->
<!-- 		AND USER_ID = #{userId} -->
<!-- 	</delete> -->
	
	
	
	
<!-- 		피측정자 회원 정보 및 측정 데이터 조회 (회원 한명) -->
<!-- 	<select id="selectStUserInfo" parameterType="String" resultType="hashmap"> -->
<!-- 			SELECT SSU.USER_NAME															AS userName		SELECT SSU.USER_NM		AS userNm  -->
<!-- 				       ,SSU.USER_ID 																AS userId -->
<!-- 				       ,SSU.USER_TYPE 															AS userType -->
<!-- 				       ,SSU.LOGIN_DT																AS loginDt -->
<!-- 				       ,SSU.LOGIN_CK																AS loginCk -->
<!-- 				       ,SSU.CAVITY_CNT															AS cavityCnt -->
<!-- 				       ,SSU.COUNTRY_NM														AS countryNm -->
<!-- 				       ,SSU.STATE_NM																AS stateNm -->
<!-- 				       ,SSU.SIDO_NM																AS sidoNm -->
<!-- 				       ,SSU.SIGUNGU_NM														AS sigunguNm -->
<!-- 				       ,SSU.EUPMYEONDONG_NM											AS eupmyeondongNm -->
<!-- 				       ,SSU.ADDR_DETAIL														AS addrDeail		,SSU.USER_ADDRESS	AS userAddress -->
<!-- 				       ,SSU.USER_TEL_NO														AS userTelNo -->
<!-- 				       ,DATE_FORMAT(SSU.USER_BIRTHDAY, '%Y-%m-%d') 		AS USER_BIRTHDAY -->
<!-- 				       ,SMT.T01 ,SMT.T02 ,SMT.T03 ,SMT.T04 ,SMT.T05  -->
<!-- 				       ,SMT.T06 ,SMT.T07 ,SMT.T08 ,SMT.T09 ,SMT.T10 -->
<!-- 				       ,SMT.T11 ,SMT.T12 ,SMT.T13 ,SMT.T14 ,SMT.T15  -->
<!-- 				       ,SMT.T16 ,SMT.T17 ,SMT.T18 ,SMT.T19 ,SMT.T20 -->
<!-- 				       ,SMT.T21 ,SMT.T22 ,SMT.T23 ,SMT.T24 ,SMT.T25  -->
<!-- 				       ,SMT.T26 ,SMT.T27 ,SMT.T28 ,SMT.T29 ,SMT.T30  -->
<!-- 				       ,SMT.T31 ,SMT.T32 -->
<!-- 				       ,DATE_FORMAT(SMT.MEASURE_DT, '%Y년%m월%d일')		AS measureDt -->
<!-- 			       	   ,DATE_FORMAT(SMT.MEASURE_DT, '%Y-%m-%d')			AS measureDtDash -->
<!-- 				       ,SMT.MEASURER_ID														AS measureId -->
<!-- 			FROM ST_TEETH_MEASURE SMT -->
<!-- 		    LEFT OUTER JOIN ST_ST_USER SSU -->
<!-- 			ON SMT.USER_ID = SSU.USER_ID -->
<!-- 			WHERE  1 = 1 -->
<!--             AND SSU.USER_ID = #{userId} -->
<!--             ORDER BY SMT.MEASURE_DT DESC -->
<!-- 	</select>  -->





<!-- 	피측정자 회원 아이디 목록 조회 - ST_PARENT_USER_DEATAIL -->
<!-- 	<select id="selectChUserList" parameterType="String" resultType="hashmap"> -->
<!-- 		SELECT DISTINCT -->
<!-- 			SU.USER_ID										AS USER_ID -->
<!-- 			,SU.USER_NAME								AS USER_NAME -->
<!-- 			,SSI.SCHOOL_NAME -->
<!-- 			,SSI.SCHOOL_CODE -->
<!-- 		FROM ST_TEETH_MEASURE STM -->
<!-- 		LEFT OUTER JOIN ST_USER SU -->
<!-- 		ON STM.USER_ID = SU.USER_ID -->
<!-- 		LEFT OUTER JOIN ST_STUDENT_USER_DETAIL SSUD -->
<!-- 		ON SU.USER_ID = SSUD.USER_ID -->
<!-- 		LEFT OUTER JOIN ST_TEACHER_USER_DETAIL STUD -->
<!-- 		ON SSUD.TEACHER_ID = STUD.USER_ID -->
<!-- 		WHERE 1=1  -->
<!-- 		AND DATE_FORMAT(MEASURE_DT, '%Y-%m-%d') = #{measureDt} -->
<!-- 		AND STUD.SCHOOL_CODE = #{schoolCode}  -->
<!-- 	</select> -->




	
</mapper>