<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.web.mapper.WebRegistMapper">

	
	    
    <!--전체 시퀀스 조회 --> 
    <select id="selectSeqNoAll" resultType="co.smartooth.web.vo.WebSeqNoVO">
    
    	SELECT
    		SCH_SEQ_NO
    		,GR_SEQ_NO
    		,ST_SEQ_NO
    		,PA_SEQ_NO
    		,TC_SEQ_NO
    		,CO_SEQ_NO
    		,MA_SEQ_NO
    		,CLASS_SEQ_NO
    		,CL_SEQ_STR
    		,ST_SEQ_STR
    	FROM ST_SEQUENCE
    	    	
    </select>
    


    
    <!-- SEQ(param) 업데이트 --> 
    <update id="updateSeqNo" parameterType="String">
    
    	UPDATE ST_SEQUENCE
    	SET ${seqNm} = #{seqNo}
    	   	
    </update>
	



    <!-- 나라이름으로 나라 코드 조회 --> 
    <select id="selectCountryCd" parameterType="String" resultType="String">
		
		SELECT
			ISO_ALPHA2
		FROM ST_NATIONAL_INFO
		WHERE 1=1 
		AND NATIONAL_NAME_KOR LIKE CONCAT('%', #{countryNm}, '%')
		
    </select >



    
    <!-- 시도 이름으로 시도 코드 조회 --> 
    <select id="selectSidoCd" parameterType="String" resultType="String">
    
    	SELECT
    		SIDO_CD
    	FROM ST_ADDR_DEPT1
    	WHERE 1=1
    	AND SIDO_Nm = #{siDoNm}
    	
    </select>



    
    <!-- 시도 코드와 읍면동 이름으로 정보 조회--> 
    <select id="selectLocationInfo" parameterType="co.smartooth.web.vo.WebLocationVO" resultType="co.smartooth.web.vo.WebLocationVO">
    
    	SELECT
			SIDO_CD
			,SGGEMD_CD
			,SIGUNGU_NM
			,EUPMYEONDONG_NM
		FROM ST_ADDR_DEPT2
		WHERE 1=1
		AND SIDO_CD = #{sidoCd}
		<if test="sigunguNm != null and sigunguNm != '' ">
			AND SIGUNGU_NM = #{sigunguNm}	
   		</if> 
   		<if test="eupmyeondongNm != null and eupmyeondongNm != '' ">
			AND EUPMYEONDONG_NM LIKE CONCAT('%', #{eupmyeondongNm}, '%') 
   		</if> 
   		ORDER BY EUPMYEONDONG_NM ASC
		LIMIT 1
    	
    </select>
    
    
    
    
    <insert id="insertSchInfo" parameterType="String">
    	
    	INSERT INTO ST_SCHOOL_INFO 
    				(
	    				SCHOOL_CODE
	    				,SCHOOL_NAME
	    				,IS_VISIBLE
	    				,ORGAN_SIDO_NM
	    				,ORGAN_SIGUNGU_NM
	    				,ORGAN_EUPMYEONDONG_NM
	    				,IS_BATCHED
    				)
		VALUES	
					(
						#{schCd}
						,#{schNm} 
						,'N'
						,#{sidoNm}
						,#{sigunguNm}
						,#{eupmyeondongNm}
						,'N'
					)
    	
    </insert>


    
    
    <insert id="insertClassInfo" parameterType="String">

    	INSERT INTO ST_CLASS_INFO 
    				(
	    				CLASS_CODE
	    				,CLASS_NAME
    				)
		VALUES	
					(
						#{classCd}
						,#{classNm} 
					)
    	
    </insert>




	<!--  반, 측정 인원, 측정 인원 부모 아이디 (공통적인 부분) 등록 -->
    <insert id="insertUserCommonInfo" parameterType="String" >

		INSERT INTO ST_USER
            (
            	USER_NO
	            ,USER_ID
		        ,USER_PWD
		        ,USER_TYPE
		        ,USER_NAME
		        ,USER_BIRTHDAY
		        ,USER_COUNTRY
		        ,USER_STATE
		        ,USER_ADDRESS
		        ,USER_TEL_NO
		        ,USER_SEX
		        ,USER_RGST_DT
		        ,PUSH_TOKEN
		        ,LOGIN_DT
		        ,USER_DELETE_YN
		        ,USER_DELETE_DT
		        ,LOGIN_CK
		        ,COUNTRY_NM
		        ,STATE_NM
		        ,SIDO_NM
		        ,SIGUNGU_NM
		        ,EUPMYEONDONG_NM
		        ,ADDR_DETAIL
             )
		VALUES     
			(
				NULL
		        ,#{userId}
		        ,#{userPwd}
		        ,#{userType}
		        ,#{userName}
		        ,#{userBirthday}
		        ,#{countryCd}
		        ,NULL
		        ,#{userAddr}
		        ,#{userTelNo}
		        ,#{userSex}
		        ,SYSDATE()
		        ,NULL
		        ,NULL
		        ,'N'
		        ,NULL
		        ,0
		        ,#{countryNm}
		       	,NULL
		        ,#{sidoNm}
		        ,#{sigunguNm}
		        ,#{eupmyeondongNm}
		        ,#{userAddr}
            ) 

    	
    </insert>
	

	
	
	<!-- 	부서 아이디 상세 정보 등록 -->
	<insert id="insertOrganUserDetail" parameterType="String">

    	INSERT INTO ST_TEACHER_USER_DETAIL 
    				(
	    				USER_NO
	    				,USER_ID
	    				,SCHOOL_CODE
	    				,CLASS_CODE
    				)
		VALUES	
					(
						NULL
						,#{userId}
						,#{schCd}
						,#{departCd} 
					)
    	
    </insert>
    
    
    
	
	<!-- 측정 회원 부모님 아이디 상세 정보 등록 -->
    <insert id="insertPaUserDetail" parameterType="String">

		INSERT INTO ST_PARENT_USER_DETAIL
			(
				USER_ID
				,CHILD_ID
			)
		VALUES
			(
				#{userId}
				,#{childId}
			)
	
	</insert>
	
	
	
	
	<!-- 측정 회원 상세 정보 등록 -->
    <insert id="insertStUserDetail" parameterType="String">

		INSERT INTO ST_STUDENT_USER_DETAIL
			(
				USER_NO
				,USER_ID
				,SCHOOL_TYPE
				,IS_MEASURING
				,TEACHER_ID
				,CAVITY_NORMAL
				,CAVITY_CAUTION
				,CAVITY_DANGER
				,MEMO
			)
		VALUES
			(
				NULL
	            ,#{userId}
	            ,#{schType}
	            ,'N'
	            ,#{teacherId}
	            ,0
	            ,0
	            ,0
	            ,NULL
            ) 
	
	</insert>
	
	
	
	
	<!-- 측정 회원 치아 정보 등록 -->
    <insert id="insertStUserTeethInfo" parameterType="String">

		INSERT INTO ST_TEETH_INFO
            (
            	USER_NO
             	,USER_ID
             	,TEETH_STATUS
             	,RECORD_DT
           	)
		VALUES
			(
				NULL
            	,#{userId}
            	,'100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100|100'
            	,SYSDATE()
            )
	
	</insert>
	
	
	
	
</mapper>