<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.school.mapper.SchoolOrganMapper">


	<!-- 실시간 기관 조회 -->
    <select id="ajaxSelectOrganList" parameterType="String" resultType="map">
		SELECT 
			@ROWNUM:=@ROWNUM+1 AS SEQ
			,SCHOOL_CODE
			,SCHOOL_NAME
			,CONCAT(ORGAN_SIDO_NM, ' ', ORGAN_SIGUNGU_NM, ' ', ORGAN_EUPMYEONDONG_NM) AS ORGAN_ADDRESS
		FROM ST_SCHOOL_INFO
		WHERE 1=1
		AND (@ROWNUM:=0)=0
		<if test="searchType == 'SCHOOL_CODE'">
			AND SCHOOL_CODE LIKE CONCAT('%', #{searchData}, '%')
   		</if>
		<if test="searchType == 'SCHOOL_NAME'">
			AND SCHOOL_NAME LIKE CONCAT('%', #{searchData}, '%')
   		</if>
   		ORDER BY SCHOOL_CODE ASC
    </select>
    
    
    
    

   	<!-- 기관 정보 조회 -->
    <select id="selectOrganInfo" parameterType="String" resultType="co.smartooth.school.vo.SchoolOrganVO">

		SELECT 
			SCHOOL_CODE
			,SCHOOL_NAME
			,ORGAN_SIDO_NM
			,ORGAN_SIGUNGU_NM
			,ORGAN_EUPMYEONDONG_NM
			,IS_VISIBLE
			,USER_SEQ_NO
		FROM ST_SCHOOL_INFO
		WHERE 1=1
		AND SCHOOL_CODE = #{schoolCode}

    </select>
    
    
    
    
    
   	<!-- 부서 목록 조회 -->
    <select id="selectDepartmentList" parameterType="String" resultType="hashmap">
    
		SELECT 
			SCI.SCHOOL_CODE								AS SCHOOL_CODE
			,SSI.SCHOOL_NAME								AS SCHOOL_NAME
			,SCI.CLASS_CODE								AS CLASS_CODE
			,SCI.CLASS_NAME								AS CLASS_NAME
		FROM ST_CLASS_INFO SCI
		LEFT OUTER JOIN ST_SCHOOL_INFO SSI
		ON SCI.SCHOOL_CODE = SSI.SCHOOL_CODE
		WHERE 1=1 
		<if test="searchType == 'SCHOOL_CODE'">
			AND SCI.SCHOOL_CODE = #{searchData}
   		</if>
   		ORDER BY SSI.SCHOOL_CODE ASC, CLASS_CODE ASC
   		
    </select>
    
    
    
    
    
   	<!-- 그래프 계산 일괄 작업 여부 업데이트 (Y) -->
	<update id="updateGraphBatchedStatus" parameterType="String">
	
		UPDATE ST_SCHOOL_INFO
  			 SET IS_GRAPH_BATCHED= 'Y'
	    WHERE  1=1
	    AND SCHOOL_CODE = #{schoolCode}
	
	</update>
    
    
    
    
    
   	<!-- 기관에 속한 피측정자 시퀀스 증가 -->
	<update id="updateOrganUserSeqNo" parameterType="co.smartooth.school.vo.SchoolOrganVO">
	
		UPDATE ST_SCHOOL_INFO
		SET
			USER_SEQ_NO  = #{userSeqNo}
		WHERE 1=1
		AND SCHOOL_CODE= #{schoolCode}
	
	</update>
    
    
    
    
    
    <!-- 기관 치아 측정일 목록 조회 (기관코드) -->
	<select id="selectOrganMeasureDtList" parameterType="String" resultType="HashMap">

		SELECT
			DATE_FORMAT(STM.MEASURE_DT, '%Y-%m-%d') AS MEASURE_DT
		FROM ST_TEETH_MEASURE STM
		LEFT OUTER JOIN ST_STUDENT_USER_DETAIL SSUD
		ON STM.USER_ID = SSUD.USER_ID
		WHERE 1=1
		AND SSUD.TEACHER_ID =
													(
														SELECT CLASS_CODE FROM ST_CLASS_INFO
														WHERE 1=1
														AND SCHOOL_CODE = #{schoolCode}
														LIMIT 1
													)
		GROUP BY DATE_FORMAT(STM.MEASURE_DT, '%Y-%m-%d')
		ORDER BY DATE_FORMAT(STM.MEASURE_DT, '%Y-%m-%d') DESC
		
	</select>
    
    
    
    
    
<!--    	치과 병원 실시간 검색 (ajax) -->
<!--     <select id="ajaxSelectDentistList" parameterType="String" resultType="map"> -->
<!-- 		SELECT  -->
<!-- 			@ROWNUM:=@ROWNUM+1 AS SEQ -->
<!-- 			,SCHOOL_CODE -->
<!-- 			,SCHOOL_NAME -->
<!-- 			,CONCAT(ORGAN_SIDO_NM, ' ', ORGAN_SIGUNGU_NM, ' ', ORGAN_EUPMYEONDONG_NM) AS ORGAN_ADDRESS -->
<!-- 		FROM ST_SCHOOL_INFO -->
<!-- 		WHERE 1=1 -->
<!-- 		AND (@ROWNUM:=0)=0 -->
<!-- 		AND SCHOOL_CODE LIKE CONCAT('%', 'DE', '%') -->
<!-- 		<if test="searchType == 'SCHOOL_CODE'"> -->
<!-- 			AND SCHOOL_CODE LIKE CONCAT('%', #{searchData}, '%') -->
<!--    		</if> -->
<!-- 		<if test="searchType == 'SCHOOL_NAME'"> -->
<!-- 			AND SCHOOL_NAME LIKE CONCAT('%', #{searchData}, '%') -->
<!--    		</if> -->
<!--    		ORDER BY SCHOOL_CODE ASC -->
<!--     </select> -->





<!-- 	치과 실시간 검색 (ajax) - DENTAL_HOSPITAL_INFO 테이블 -->
<!--     <select id="ajaxSelectDentalHospitalList" parameterType="String" resultType="map"> -->
<!-- 		SELECT  -->
<!-- 			@ROWNUM:=@ROWNUM+1 AS SEQ -->
<!-- 			,DENTAL_HOSPITAL_CD -->
<!-- 			,DENTAL_HOSPITAL_NM -->
<!-- 			,CONCAT( -->
<!-- 							DENTAL_HOSPITAL_SIDO_NM, ' ', -->
<!-- 						   	DENTAL_HOSPITAL_SIGUNGU_NM, ' ', -->
<!-- 						  	 DENTAL_HOSPITAL_EUPMYEONDONG_NM -->
<!-- 						   ) AS ORGAN_ADDRESS -->
<!-- 		FROM ST_DENTAL_HOSPITAL_INFO -->
<!-- 		WHERE 1=1 -->
<!-- 		AND (@ROWNUM:=0)=0 -->
<!-- 		<if test="searchType == 'DENTAL_HOSPITAL_CD'"> -->
<!-- 			AND DENTAL_HOSPITAL_CD LIKE CONCAT('%', #{searchData}, '%') -->
<!--    		</if> -->
<!-- 		<if test="searchType == 'DENTAL_HOSPITAL_NM'"> -->
<!-- 			AND DENTAL_HOSPITAL_NM LIKE CONCAT('%', #{searchData}, '%') -->
<!--    		</if> -->
<!--    		ORDER BY DENTAL_HOSPITAL_CD ASC -->
<!--     </select> -->
		




<!-- 기관 정보 등록 -->
<!-- 	<insert id="insertOrganInfo" parameterType="co.smartooth.admin.vo.AdminOrganVO"> -->
<!-- 		INSERT INTO ST_SCHOOL_INFO -->
<!-- 			( -->
<!-- 				SCHOOL_CODE -->
<!-- 				,SCHOOL_NAME -->
<!-- 				,IS_VISIBLE -->
<!-- 			) -->
<!-- 		VALUES -->
<!-- 			( -->
<!-- 				#{schoolCode} -->
<!-- 				,#{schoolName} -->
<!-- 				,#{isVisible} -->
<!-- 			) -->
<!-- 	</insert> -->
	
	
	
	
	
<!-- 기관 정보 삭제 -->
<!-- 	<delete id="deleteOrganInfo" parameterType="String"> -->
<!-- 		DELETE FROM ST_SCHOOL_INFO -->
<!-- 		WHERE 1=1 -->
<!-- 		AND SCHOOL_CODE = #{schoolCode} -->
<!-- 	</delete> -->





<!-- 자문치과 등록 -->
<!-- 	<insert id="insertAdviceInfo" parameterType="String"> -->
<!-- 		INSERT INTO ST_ADVICE_INFO -->
<!-- 			( -->
<!-- 				SCHOOL_CODE -->
<!-- 				,DENTIST_NAME -->
<!-- 			) -->
<!-- 		VALUES -->
<!-- 			( -->
<!-- 				#{schoolCode} -->
<!-- 				,#{dentistName} -->
<!-- 			) -->
<!-- 	</insert> -->
	
	
	
	
	
<!-- 	자문치과 조회 -->
<!-- 	<select id="selectAdviceDentistInfo" parameterType="String" resultType="co.smartooth.school.vo.AdviceVO"> -->
<!-- 		SELECT	 -->
<!-- 			SCHOOL_CODE -->
<!-- 			,DENTIST_NAME -->
<!-- 			,DENTIST_NUM  -->
<!-- 		FROM ST_ADVICE_INFO -->
<!-- 		WHERE 1=1 -->
<!-- 		AND SCHOOL_CODE = #{schoolCode} -->
<!-- 	</select> -->
	
	
	
	
	
<!-- 	진단지 계산 일괄 작업 여부 확인 -->
<!-- 	<select id="selectIsDiagnosisBatched" parameterType="String" resultType="String"> -->
<!-- 		SELECT IS_DIAGNOSIS_BATCHED -->
<!-- 		FROM ST_SCHOOL_INFO -->
<!-- 		WHERE 1=1 -->
<!-- 		AND SCHOOL_CODE = #{schoolCode} -->
<!-- 	</select> -->
	
	
	
	
	
<!-- 	진단지 계산 일괄 작업 여부 업데이트 (Y) -->
<!-- 	<update id="`" parameterType="String"> -->
<!-- 		UPDATE ST_SCHOOL_INFO -->
<!--   			 SET IS_DIAGNOSIS_BATCHED= 'Y' -->
<!-- 	    WHERE  1=1 -->
<!-- 	    AND SCHOOL_CODE = #{schoolCode} -->
<!-- 	</update> -->
	
	
	
	
	
<!-- 	그래프 계산 일괄 작업 여부 확인 -->
<!-- 	<select id="selectIsGraphBatched" parameterType="String" resultType="String"> -->
<!-- 		SELECT IS_GRAPH_BATCHED -->
<!-- 		FROM ST_SCHOOL_INFO -->
<!-- 		WHERE 1=1 -->
<!-- 		AND SCHOOL_CODE = #{schoolCode} -->
<!-- 	</select> -->
	
	
	
	

</mapper>