<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.app.mapper.OrganMapper">

	
	<!-- 측정자 아이디로 측정 예정 기관 목록 조회 --> 
    <select id="selectOrganList" parameterType="String" resultType="hashmap">
		
		SELECT 
			SCHOOL_CODE
			,SCHOOL_NAME
		FROM ST_SCHOOL_INFO
		WHERE 1=1
		AND IS_VISIBLE = 'Y'
				
    </select >





	<!-- 측정자 아이디로 측정 예정 기관 목록 조회 --> 
    <select id="selectMeasureOrganList" parameterType="String" resultType="hashmap">
		
		SELECT SMOL.USER_ID												AS USER_ID
		   ,SMOL.ORGAN_CODE											AS SCHOOL_CODE
		   ,SSI.SCHOOL_NAME											AS SCHOOL_NAME
		   ,DATE_FORMAT(SMOL.MEASURE_DT, '%Y-%m-%d') 				AS MEASURE_DT
		FROM ST_MEASURE_ORGAN_LOG SMOL
		LEFT OUTER JOIN ST_SCHOOL_INFO SSI
		ON SMOL.ORGAN_CODE = SSI.SCHOOL_CODE
		WHERE 1=1
		AND SMOL.USER_ID = #{userId}
				
    </select >





	<!-- 부서 목록 조회 -->
    <select id="selectDepartmentList" parameterType="String" resultType="hashmap">
    
		SELECT 
			SCI.SCHOOL_CODE								AS SCHOOL_CODE
			,SSI.SCHOOL_NAME								AS SCHOOL_NAME
			,SCI.CLASS_CODE								AS CLASS_CODE
			,SCI.CLASS_NAME								AS CLASS_NAME
		FROM ST_CLASS_INFO SCI
		LEFT OUTER JOIN ST_SCHOOL_INFO SSI
		ON SCI.SCHOOL_CODE = SSI.SCHOOL_CODE
		WHERE 1=1 
		AND SCI.SCHOOL_CODE = #{organCode}
		ORDER BY SSI.SCHOOL_CODE ASC, CLASS_CODE ASC
		
    </select>
	
	
	
	
	
</mapper>